.container {
  display: flex;
  min-height: 400px;
}

.optionContainer {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: rgb(127, 127, 236);
  padding: 3rem 0;
}

.option {
  margin: 1rem 0;
  border-radius: 8px 0 0 8px;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  font-size: 20px;
  transition: all 0.3s ease-out;
}

.active {
  background: white;
}

.contentContainer {
  width: 100%;
  padding: 2rem 3rem;
}

@media (max-width: 576px) {
  .contentContainer {
    padding: 1rem 0.5rem 3rem 0.5rem;
  }

  .container {
    flex-direction: column;
  }

  .optionContainer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  .option {
    margin: 0;
    border-radius: 8px 8px 0 0;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .optionContainer {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0 0 0;
  }

  .option {
    margin: 0;
    border-radius: 8px 8px 0 0;
  }

  .contentContainer {
    padding: 2rem;
  }
}
