.subsection {
  padding: 2rem;
}

.sectionType {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionType a {
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-decoration: none;
  color: black;
}

.sectionType a:hover {
  color: rgb(127, 127, 236);
}

.heading {
  font-size: 36px;
  margin-right: 2rem;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .heading {
    font-size: 26px;
  }

  .subsection {
    padding: 1rem 2rem;
  }
}
