.container {
  padding: 2rem;
}

.descContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 3rem;
  justify-items: center;
}

.img {
  height: 350px;
  text-align: center;
  width: 100%;
  position: relative;
}

.similarItems {
  font-size: 28px;
  padding: 1rem 0;
  margin: 2rem;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .descContainer {
    grid-template-columns: 100%;
  }
}