.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.heading p {
  margin: 0;
  border-bottom: 1px solid #ccc;
  font-size: 26px;
  padding: 1rem 0;
  width: 75%;
}

.logout {
  background-color: rgb(247, 117, 117);
  color: white;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  transition: all 0.3s ease-out;
}

.logout:hover {
  border: 2px solid red;
  color: black;
}

.edit {
  background-color: rgb(127, 127, 236);
  color: white;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  transition: all 0.3s ease-out;
  margin: 0 0 0 2rem;
}

.edit:hover {
  border: 2px solid blue;
  color: black;
}

.save {
  background-color: rgb(99, 183, 99);
  color: white;
  width: 100px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 40px;
  transition: all 0.3s ease-out;
  margin: 0 0 0 2rem;
}

.save:hover {
  border: 2px solid green;
  color: black;
}

.infoFields {
  display: grid;
  grid-template-columns: 20% 50%;
  align-items: center;
}

.infoFields p {
  margin: 2rem;
  font-size: 18px;
}

.addressField {
  display: flex;
  flex-direction: column;
}

.infoType {
  font-size: 26px;
  border-bottom: 1px solid #ccc;
  width: 75%;
  padding: 1rem 0;
}

@media (max-width: 576px) {
  .heading p {
    width: 50%;
  }

  .infoFields {
    grid-template-columns: 30% 60%;
  }

  .edit,
  .save {
    margin: 0;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .heading p {
    width: 50%;
  }

  .infoFields {
    grid-template-columns: 30% 60%;
  }

  .edit,
  .save {
    margin: 0;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .heading p {
    width: 60%;
  }

  .infoFields {
    grid-template-columns: 30% 60%;
  }

  .edit,
  .save {
    margin: 0;
  }
}
