.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 101;
}

.logo {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .navbar {
    height: 60px;
  }
}
